<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Open PHACTS</title>
  <link rel="icon" type="image/png" href="favicon.ico">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag '/ext/resources/css/ext-all.css' %>
<!-- TODO Until the sim search talks directly to the api from the js side create the url here -->
  <script type="text/javascript">
    var simSearchUrl = '<%= get_chem_info4known_csids_core_api_calls_url -%>?';
	var ldaBaseUrl = '<%= "http://" + AppSettings.config["tsv"]["tsv_url"] -%>';
  </script>
  <% if ENV['RAILS_ENV'] == 'development' %>
      <%= javascript_include_tag '/ext/ext-all-debug.js' %>
	<script type="text/javascript">
	    Ext.Loader.setConfig({
	      enabled: true,
	      paths: {
	          'CS':'chemspider/lib','CW':'conceptwiki/lib','LDA':'LinkedDataAPIParser/lib'
	      }
	    });
	</script>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag '/app.js' %>
  <% else %>
      <%= javascript_include_tag '/ext/ext-all.js' %>
	<script type="text/javascript">
	    Ext.Loader.setConfig({
	      enabled: true,
	      paths: {
	          'CS':'chemspider/lib','CW':'conceptwiki/lib','LDA':'LinkedDataAPIParser/lib'
	      }
	    });
	</script>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag '/all-classes.js' %>
      <%= javascript_include_tag '/app-all.js' %>
  <% end %>

  <%= javascript_include_tag '/app/view/ux/exporter/Exporter.js' %>
  <%= javascript_include_tag '/downloadify/downloadify.min.js' %>
  <%= javascript_include_tag '/downloadify/swfobject.js' %>

  <!-- Add string trim function for any browsers that don't support it -->
  <script type="text/javascript">
    if (!String.prototype.trim) {
      String.prototype.trim = function() {
        return this.replace(/^\s+|\s+$/g,'');
      }
    }
  </script>

  <%= csrf_meta_tag %>
</head>
<body>

<form id="history-form" class="x-hide-display">
  <input type="hidden" id="x-history-field"/>
  <iframe id="x-history-frame"></iframe>
</form>

<%= yield %>

</body>
</html>
